@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins&display=swap");

/*
* {
    border: 1px solid red;
}
*/

:root {
    --black: #171718;
    --black-border: #26292d;
    --green: green;
    --white: white;

    --text-color: var(--black);

    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--green);

    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

    /* Light mode */
    --page-bg: var(--white);
    --text-color: var(--black);
    --title-1: var(--accent);
}

.dark {
    --page-bg: #252526;
    --text-color: var(--white);
    --title-1: var(--white);
    --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}

html,
body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;

    color: var(--text-color);
    background-color: var(--page-bg);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    padding: 20px 0;
    color: var(--header-text);
    border-bottom: 2px solid var(--dark-border);
    background-color: var(--dark-bg);
    letter-spacing: normal;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    position: relative;
}

.nav-list__link:hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}

.dark-mode-btn {
    order: 1;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 51px;
    height: 26px;
    background-color: #272727;
    border-radius: 50px;
}

.dark-mode-btn::before {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
    left: 26px;
}

.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}

.logo {
    margin-right: auto;
    color: white;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.logo strong {
    font-weight: 700;
}

.header {
    background-color: var(--dark-bg);
    color: var(--header-text);
    min-height: 100vh;

    background-image: url("./../img/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;

    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__wrapper {
    max-width: 600px;
    padding: 0 15px;
}

.header__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
}

.header__title storng {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
    white-space: nowrap;
}

.header__text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}

.header__text p + p {
    margin-top: 0.5em;
}

.btn {
    display: inline-block;
    height: 48px;
    color: var(--white);
    padding: 14px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    letter-spacing: 0.15px;
    font-size: 15px;
    font-weight: 500;
    transition: opacity 0.2 ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-outline {
    display: flex;
    column-gap: 5px;

    height: 48px;
    border-radius: 5px;
    padding: 12px 20px;

    border: 2px solid black;
    color: var(--black);
    background-color: white;

    transition: opacity 0.2 ease-in;
}

.btn-outline:active {
    position: relative;
    top: 1px;
}

.btn-outline:hover {
    opacity: 0.8;
}

/* Projects */

.section {
    padding: 70px 0;
}

.title-1 {
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--title-1);
    text-align: center;
}

.title-2 {
    margin-bottom: 20px;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.project {
    max-width: 370px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project-image {
    border-radius: 10px;
}

.project-title {
    padding: 15px 20px 25px 20px;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
}

/* Footer */

.footer {
    background-color: var(--dark-bg);
    margin-top: auto;
    padding: 60px 0 50px;
    color: var(--white);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.social {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.copyright {
    font-size: 16px;
}

.copyright p + p {
    margin-top: 0.5em;
}

/* Project details */

.project-details {
    max-width: 865px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-details__cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.project-details__desc {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 30px;
}

/* Skills */

.content-list {
    margin: 0 auto;
    max-width: 570px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    text-align: center;
}

.content-list__item {
    font-size: 18px;
    line-height: 1.5;
}

.content-list__item p + p {
    margin-top: 0.5em;
}

.content-list a {
    color: var(--accent);
}

@media (max-width: 644px) {
    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__title strong {
        font-size: 40px;
    }

    .section {
        padding: 40px 0;
    }

    .title-1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .title-2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .project-title {
        font-size: 20px;
        padding: 10px 20px 10px 20px;
    }

    .project-details__desc {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .social {
        column-gap: 20px;
    }

    .social__item {
        width: 28px;
    }

    .content-list {
        row-gap: 20px;
    }

    .content-list__item {
        font-size: 16px;
    }

    .footer {
        padding: 40px 0 30px;
    }

    .footer__wrapper {
        row-gap: 20px;
    }
}
